<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Making your first Phaser 3 Game - Part 10</title>
    <style type="text/css">
        body {
            margin: 0;
            align-items: center;
            justify-content: center;
            display: flex;
            height: 100vh;
        }
    </style>
</head>
<body>
    Buburu
    <br />
    <a href="/game">
        ¡A jugar!
    </a>
</body>
