---

---

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Principal del Juego</title>
    
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: #000000;
            color: #e9dddd;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
            font-size: 100px;
        }
        
        
        .menu-button {
          display: block;
          background-color: #ba44ff;
          color: rgb(0, 0, 0);
          padding: 15px;
          font-size: 1.2rem;
          text-decoration: none;
          border-radius: 5px;
          margin: 10px;
          width: 100%; /* Make button responsive */
          max-width: 300px; /* Set a max width */
          min-width: 150px; /* Set a min width */
          text-align: center;
          transition: background-color 0.3s;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .menu-button:hover {
            background-color: rgb(255, 255, 255);
            
        }
        .menu-button:active {
            background-color: rgb(255, 253, 253);
        }
        .menu-button:focus {
            outline: none;
        }
        .button-letter {
            color: #000000;
            margin-bottom: 30px;   
        }
        .button-letter:hover{
          
        }
    </style>
</head>
  <body>
    
    <div class="container">
      BUBURU
      <button class="menu-button" id="playButton" onclick="window.location.href = 'buburu'">Iniciar Juego</button>
      <button class="menu-button" id="settingButton" onclick="window.location.href = 'buburu'">Settings</button>
      <button class="menu-button" id="closeButton">Exit</button>
    </div>

    
    <script src="../script.js"></script>
  </body>

  <style>
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
  </style>
  
</html>
